<div class='row welcome-banner mb-5'>
  <div class='col-auto'>
    <h1>Welcome, <span class='user-name'>{{user.name}}!</span></h1>
  </div>
</div>

<div class='row blog-group'>
  <div class='col-12 alert alert-danger hide' role='alert'>
    Failed to create a blog!
  </div>

  <div class='col-md-6 pe-4'>
    <h3>Create a New Blog:</h3>

    <form id='new-blog-form'>
      <div class='form-group mb-2'>
        <label for='blog-title'>Title:</label>
        <input type='text' class='form-control' id='blog-title' />
      </div>
      <div class='form-group mb-2'>
        <label for='book-rating'>Rating:</label>
        <select class='form-control' id='blog-rating'>
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
      <div class='form-group mb-2'>
        <label for='blog-content'>Content:</label>
        <textarea class='form-control' id='blog-content' rows='5'></textarea>
      </div>
      <input type='hidden' id='hidden-user' value='{{user.id}}' />
      <div class='form-group buttons mt-2'>
        <button type='submit' class='btn btn-primary'>Create Blog</button>
      </div>
    </form>
  </div>

  <div class='col-md-6 ps-4 entry-list blogs'>
    <h3>Current Blogs:</h3>
    {{#if blogs.length}}
      {{#each blogs as |blog|}}
        <div class='row mb-2 entry'>
          <div class='col-md-8'>
            <h4><a href='/api/blogs/{{blog.id}}'>{{blog.title}}</a></h4>
          </div>
          <div class='col-md-4'>
            <button
              class='btn btn-sm btn-danger'
              data-id='{{blog.id}}'
            >DELETE</button>
          </div>
        </div>
      {{/each}}
    {{else}}
      <h6>You have no blog entries!</h6>
    {{/if}}
  </div>

</div>

<div class='row mt-5 mb-5 books-group'>
  <div class='col-12 alert alert-danger hide' role='alert'>
    Failed to create a blog!
  </div>
  <div class='col-md-6 pe-4'>
    <h3>Add a New Book:</h3>

    <form id='new-book-form'>
      <div class='form-group mb-2'>
        <label for='book-title'>Title:</label>
        <input type='text' class='form-control' id='book-title' />
      </div>
      <div class='form-group mb-2'>
        <label for='book-author'>Author:</label>
        <input type='text' class='form-control' id='book-author' />
      </div>
      <div class='form-group mb-2'>
        <label for='book-genre'>Genre:</label>
        <input
          type='text'
          class='form-control'
          id='book-genre'
          placeholder='Fantasy, Fiction, Sci-Fi...'
        />
      </div>
      <div class='form-group mb-2'>
        <label for='book-description'>Description:</label>
        <textarea
          class='form-control'
          id='book-description'
          rows='5'
        ></textarea>
      </div>
      <div class='form-group'>
        <button type='submit' class='btn btn-primary'>Add Book</button>
      </div>
    </form>
  </div>

  <div class='col-md-6 ps-4 entry-list books'>
    <h3>Current Books:</h3>
    {{#if books.length}}

      {{#each books as |book|}}
        <div class='row mb-2 entry'>
          <div class='col-md-8'>
            <h4><a href='/api/books/{{book.id}}'>{{book.title}}</a></h4>
          </div>
          <div class='col-md-4'>
            <button
              class='btn btn-sm btn-danger'
              data-id='{{book.id}}'
            >DELETE</button>
          </div>
        </div>
      {{/each}}
    {{else}}
      <h6>You have no books!</h6>
    {{/if}}
  </div>
</div>

<script src='./js/profile.js'></script>