<div class="container mt-5">
  <h1>Search Results for "{{query}}"</h1>

  <!-- Google Books Results -->
  <div class="row">
    {{#if googleBooks.length}}
      {{#each googleBooks}}
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <!-- Book Cover -->
            <img class="card-img-top" src="{{this.volumeInfo.imageLinks.thumbnail}}" alt="{{this.volumeInfo.title}} cover">

            <!-- Book Details -->
            <div class="card-body">
              <h5 class="card-title">{{this.volumeInfo.title}}</h5>
              <p class="card-text">
                <strong>Author(s):</strong> {{this.volumeInfo.authors}} <br>
                <strong>Publisher:</strong> {{this.volumeInfo.publisher}} <br>
                <strong>Published Date:</strong> {{this.volumeInfo.publishedDate}} <br>
                <strong>Description:</strong> {{this.volumeInfo.description}}
              </p>
            </div>

            <!-- Book Links -->
            <div class="card-footer text-center">
              <a href="{{this.volumeInfo.infoLink}}" class="btn btn-primary" target="_blank">More Info</a>
            </div>
          </div>
        </div>
      {{/each}}
    {{else}}
      <p>No books found for "{{query}}".</p>
    {{/if}}
  </div>
</div>
